/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.order-placed-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 1.5rem;
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #0077b6;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #005f8d;
}
